.user-record {
    margin-top:20px;
    text-align: center;
    background-color:#FFFFFF;
    color:#333333;
    padding: 20pt;
}
.user-record .value {
    font-size:20px;
    font-weight: bold;
}

.status-fields {    
    margin-top:20px;
    text-align: center;
}
.status-fields .value {
    font-size:30px;
    font-weight: bold;
}

.items {
    margin-top:20px;
    height:500px;
    overflow-y: scroll;
}
table { 
    width:100%;
}
td {
    text-align:left;
}